*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
google-services.json
._google-services.json
secrets.tar
vendor/
.bundle/
/builds
*.gpg

*.apk
*.aar
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/

.gradle/
build/

local.properties

proguard/

*.log

.navigation/

captures/

*.iml
.idea

.externalNativeBuild
.cxx/
